# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Priject's ignore
go-cti
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
data
cache
.DS_Store
.vscode

# Output JSON file by search
*.json
